:root {
    --color-home: #211c6a;
    --color-about: #1e195f;
    --color-projects: #1a1655;
    --color-blog: #17144a;
    --color-font: #fff;
}

/* :root {
    --color-home: #a6a4c3;
    --color-about: #bcbbd2;
    --color-projects: #d3d2e1;
    --color-blog: #e9e8f0;
    --color-contact: #ffffff;
    --color-font: #000;
  } */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: var(--color-font);
    font-family: 'Poppins', 'gill sans', 'Helvetica';
}

a {
    color: var(--color-font);
    text-decoration: none;
}

h2 {
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 2em;
}

.nav {
    position: fixed;
    z-index: 9999;
    background-color: transparent;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.nav-list {
    display: flex;
    list-style: none;
    font-weight: 700;
    text-align: center;
    position: relative;
}

.nav-list a {
    display: block;
    width: 100px;
    padding: 2.5vh 0.8em;
}

.nav-list li {
    position: relative;
}

.nav-list li::after {
    content: '';
    width: 100%;
    height: 5px;
    background: linear-gradient(to bottom right,
            cyan,
            magenta);
    position: absolute;
    top: 0%;
    left: 0%;
    opacity: 0;
    transition: opacity 300ms linear;
}

.nav-list li.active::after {
    transition: opacity 300ms 350ms linear;
    opacity: 1;
}

.nav-item-home {
    background-color: var(--color-home);
}

.nav-item-about {
    background-color: var(--color-about);
}

.nav-item-projects {
    background-color: var(--color-projects);
}

.nav-item-blog {
    background-color: var(--color-blog);
}

.nav-item-contact {
    background-color: var(--color-contact);
}

.section-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.section-container section {
    min-width: 100vw;
    scroll-snap-align: center;
    padding-top: 20vh;
    text-align: center;
    overflow-y: scroll;
    scrollbar-width: none;
}

.home {
    background-color: var(--color-home);
}

.profile {
    width: 300px;
    aspect-ratio: 1;
    background: linear-gradient(to bottom right,
            cyan,
            magenta);
    border-radius: 50%;
    margin: 0 auto;
}

.about {
    background-color: var(--color-about);
}

.about h2 {
    margin-bottom: 0;
}

.about h3 {
    position: sticky;
    inset: 0;
    top: 70%;
    font-size: clamp(0.5rem, 10vw + 0.5rem, 9rem);
    font-weight: 900; 
    z-index: 999;
}

.bio-container {
    
}

.breakout {
    margin: 0 calc(50% - 50vw);
}

.about .state {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom right,
            cyan,
            magenta);
    object-fit: cover;
    clip-path: polygon(0 10vw, 
        100% 0, 
        100% calc(100% - 10vw), 
        0 100%);
    margin-bottom: -200px;
    z-index: 2;
    filter: brightness(50%);
}   

.bio {
    background-color: var(--color-about);
    height: 600px;
    z-index: 1000;
    position: relative;      
    margin-bottom: -200px;
    clip-path: polygon(0 10vw, 
        100% 0, 
        100% calc(100% - 10vw), 
        0 100%);
}

.projects {
    background-color: var(--color-projects);
}

.projects-container {
    display: flex;
    flex-direction: column;
    gap: 3em;
    align-items: center;
}

.project {
    width: 40%;
    min-width: 300px;
    aspect-ratio: 1;
    background: linear-gradient(to right bottom,
            cyan,
            magenta);
}

.project h3 {
    text-align: center;
    padding: 1.2em;
    background-color: rgba(0, 0, 0, 0.3);
    display: block;
}

.project p {
    padding: 6em 2em;
    font-weight: 700;
}

.blog {
    background-color: var(--color-blog);
}

.test-container {
    width: 500px;
    height: 500px;
}

.test {
    position: -webkit-sticky;
    position: sticky;
    top: -100px;
    background-color: red;
}

.testing-sticky {
    position: sticky;
    top: 10px;
    text-align: center;
}

.block {
    width: 300px;
    height: 300px;
    background-color: red;
}

.block-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 40px;
}